<div class="template-container" ng-controller="GalleryCtrl">
    <div>
    <img class="profile-pic" src="./pictures/pic.jpg"></img>
    <h3 class="right-name">Mark Ryan</h3><br>
    contact@mark-ryan.co.uk<br>
    Junior Developer<br>London, UK<br>
    <a href="https://github.com/Mark-Ryan">Github</a><br>
    <a href="https://uk.linkedin.com/in/markryan539">Linked In</a><br>
    <div style="clear: both;"></div>
    <div class="template-text">
      <p>
      I am a junior developer who is seeking a new software development role within the IT industry. I have a degree in Digital Music and a good knowledge of software and programming languages including; HTML5, CSS3, Python2/3, Swift, Java, JavaScript, PHP, SQL, NoSQL, MySQL, Linux (Mint/Ubuntu/Kali) and MongoDB. I have the ability to learn new skills quickly, I have a creative approach to problem solving and work well under pressure in order to meet deadlines.
      </p>
      
      <p>
      Mostly self-taught, I have completed the following courses in my spare time:
      </p>

      <p>-	Try Python (2 Days)</p>
      <p>-	Flying Through Python (1 Week)</p>
      <p>-	Programming Foundations with Python (2-3 Months)</p>
      <p>-	Try SQL (2 Days)</p>
      <p>-	The Sequel to SQL (1 Week)</p>
      <p>-	The Magical Marvels of MongoDB (2 Weeks)</p>
      <p>-	Make a website – HTML + CSS (2 Weeks)</p>
      <p>-	Intro to Programming Nanodegree (4-6 Months)</p>
      <p>-	Intro to iOS App Development with Swift (1-2 Months)</p>
      <p>-	Android Development for Beginners (1-2 Months)</p>
      <p>-	The JavaScript Road Trip parts 1,2,3 (2 Months)</p>
      <p>-	Linux Command Line Basics (1 Month)</p>
      <p>-	Configuring Linux Web Servers (2-3 Months)</p>
      <p>-	How to use Git and Github (1 Month)</p>
    </div>
</div>
